body {

}

table {
    width: 400px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	background-color: #696659;
    color: white;
}

a:link, a:visited, a:active {
   color: blue;
   text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}